apiVersion: v1
kind: Service
metadata:
  labels:
    app: wesplit
  name: wesplit
  namespace: wesplit
spec:
  ports:
  - name: "8080"
    port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    app: wesplit
  type: ClusterIP
